# Pastas de Build
[Bb]in/
[Oo]bj/

# Arquivos de IDE e Usuário
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
.idea/

# SEGREDOS
appsettings.Development.json
secrets.json

# Logs e Backups
*.log
*.backup

# Arquivos de Banco de Dados local
*.mdf
*.ldf

# Arquivos de Sistema Operacional
Thumbs.db
.DS_Store
